@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #121212;
}

@font-face {
  font-family: "IRANSansXV";
  src: url(./fonts/IRANSansXV.woff2);
}

* {
  font-family: IRANSansXV !important;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: var(--main-bg-color) !important;
  overflow-x: hidden;
}

.movie-cards {
  padding: 0 0.5em;
  text-align: center;
  border: none;
}

.posters {
  border-radius: 0.4em;
  margin-bottom: 0.7em;
}

.react-multiple-carousel__arrow {
  background-color: #555;
}

.slider-title {
  direction: rtl;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 1em;
  margin-right: 0.5em;
}


@keyframes wipe-in {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 400px;
    opacity: 1;
  }
}

@keyframes wipe-out {
  from {
    height: 400px;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

.movie-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #2c2c2c;
  height: 400px;
  transform-origin: 50% 0;
  animation: wipe-in 0.3s ease-in;
}

.backdrop-image {
  -webkit-mask-image: linear-gradient(to right, transparent 3%, black 30%);
  mask-image: linear-gradient(to right, transparent 3%, black 30%);
  height: 400px;
}

.movie-details {
  margin-left: 2em;
  border-radius: 1em;
  padding: 3em;
  background-color: rgba(0, 0, 0, 0.5);
  width: 45%;
}

.movie-details h2 {
  font-size: 1.5em;
  font-weight: 900;
    margin-bottom: .5em;

}

.movie-details h3 {
  font-size: 1em;
  font-weight: 800;
  margin-bottom: .5em;
}

.searchColor {
  filter: invert(80%) sepia(39%) saturate(3212%) hue-rotate(354deg) brightness(105%) contrast(101%);
}

.movie-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 82px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.movie-page-details {
  border-radius: 1em;
  padding: 3em;
  background-color: rgba(0, 0, 0, 0.7);
  width: 45%;
}


/* media queries */

@media only screen and (max-width: 600px) {
  .movie-slider {
    margin: 0.5em;
  }
  .movie-page-details {  
  width: 80%;
}
}

@media only screen and (max-width: 1200px) {

  .movie-details {
    margin: 0;
    z-index: 10;
    width: 90%;    
    position: absolute; 
  }  

  .backdrop-image {
    all: unset;
    flex-shrink: 0;
    object-fit: cover;
    height: 100%;
  }
  .movie-info-container {
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .movie-details p {
  font-size: .9em;
}
}
